@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff.
*/
@font-face {
	font-family:"linbiolinum";
	font-style:normal;
	font-weight:normal;
	src:url("/datenbank/_/fonts/linbiolinum_r-w.woff") format("woff"),
		url("/datenbank/_/fonts/linbiolinum_r-w.woff2") format("woff2");
	unicode-range:U+0000-A721;
}
@font-face {
	font-family:"linbiolinum";
	font-style:italic;
	src:url("/datenbank/_/fonts/linbiolinum_ri-w.woff") format("woff"),
		url("/datenbank/_/fonts/linbiolinum_ri-w.woff2") format("woff2");
	unicode-range:U+0000-A721;
}
@font-face {
	font-family:"linbiolinum";
	font-weight:bold;
	src:url("/datenbank/_/fonts/linbiolinum_rb-w.woff") format("woff"),
		url("/datenbank/_/fonts/linbiolinum_rb-w.woff2") format("woff2");
	unicode-range:U+0000-A721;
}
*, *::after, *::before {
	border:none;
	box-sizing:inherit;
	color:inherit;
	font-family:inherit;
	font-kerning:auto;
	font-size:inherit;
	font-style:inherit;
	line-height:1.35em;
	margin:0;
	outline:none;
	padding:0;
	position:relative;/*for .local*/
	text-decoration:none;
	transition:
		background-color 0.3s ease-out,
		border 0.3s ease-out,
		box-shadow 0.3s ease-out,
		color 0.3s ease-out,
		opacity 0.3s ease-out,
		text-shadow 0.3s ease-out;
}
*:focus, *:hover, *:active {
	outline:none;
	text-decoration:none;
	transition:
		background-color 0.2s ease-out,
		box-shadow 0.2s ease-out,
		border 0.3s ease-out,
		color 0.2s ease-out,
		opacity 0.2s ease-out,
		text-shadow 0.2s ease-out;
}
*:lang(de) .altattr::after {
	content:attr(data-de);
}
*:lang(en) .altattr::after {
	content:attr(data-en);
}
.abbr::after {
	content:"…";
}
.abbr:hover::after {
	content:"";
}
.abbr:hover .cut_off {
	display:inline;
}
.capsline {
	font-size:1.1em;
}
.capsline::first-line {
	font-variant:small-caps;
}
.card {
	background-color:#ffffff;
	border:none;
	border-radius:1px;
	box-shadow:0 1px 3px 0 #b0c0f4;
	display:inline-block;
	margin:0 4px 4px 0;
	padding:5px 6px;
	z-index:0;
}
.card h1, .card h2, .card h3, .card h4, .card h5, .card h6  {
	margin-top:0.4em;
}
.cover {
	align-content:center;
	align-items:center;
	border-radius:1px;
	box-shadow:0 1px 3px 0 #b0c0f4;
	height:auto;
	justify-content:center;
	max-width:1100px;
	padding:5em 5.5em;
}
.covertitle {
	background-color:#ffffff;
	opacity:0.84;
	padding:0.5em 2em 2em 2em;
	text-shadow:0 0 2px #ccccee;
}
.cut_off {
	display:none;
}
.dataTable {
	box-shadow:0 1px 2px 0 #b0c0f4 !important;
	margin:5px 0 !important;
}
.dataTable > thead {
	background-color:#eaf0fc !important;
}
.dataTable > thead th {
	border-bottom:1px solid #eaf0fc !important;
	border-right:1px solid #ffffff !important;
	padding:4px 8px 2px 8px !important;
	vertical-align:top !important;
}
.dataTable > thead th::after {
	content:" ↑↓";
}
.dataTable > thead th:focus,
.dataTable > thead th:hover {
	background-color:#f4f4f6 !important;
}
.dataTable > thead th:last-child,
.dataTable > tbody td:last-child,
.form th:last-child {
	border-right:none !important;
}
.dataTable td {
	vertical-align:top !important;
	border-left:none !important;
}
.dataTable.no-footer {
    border-bottom:none !important;
}
.dataTables_wrapper .dataTables_info {
	float:none;
}
.dataTables_wrapper .dataTables_length {
	margin-top:2px;
}
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_processing {
	color:inherit;
	font-size:inherit;
	padding:0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin-bottom:0.2em;
	padding:0.1em 0.4em;
}
.desk > main {
	margin-left:22%;
	padding-top:1%;
}
.desk > footer {
	margin:1em 2px 4em 22%;
}
.desk > header {
	float:left;
	height:100%;
	overflow:auto;
	padding:1% 1% 0 1%;
	position:fixed;
	text-align:right;
	width:21%;
	z-index:1;
}
.desk > header .languagechoice {
	font-size:0.9em;
	margin-top:1em;
	word-spacing:0.5em;
}
.desk > header .utilities {
	font-size:0.8em;
	margin-top:1em;
}
.desk > header a,
.desk > header a:focus,
.desk > header a:hover,
.desk > header a:active {
	border:none;
}
.desk > header a {
	color:#888888;
	text-shadow:
		0 1px 0 #fff,
		1px 1px 0 #fff,
		1px 0 0 #fff;
}
.desk > header a:focus,
.desk > header a:hover {
	background-color:#ffffff;
	color:#000000;
}
.desk > header a:active {
	color:#cccccc;
}
.desk > header h2 {
	font-size:1.4em;
	margin-top:-0.7em;
}
.desk > header hr {
	background-color:#fff;
	border-top:1px solid #eaeaea;
	border-bottom:2px solid #fff;
	margin:0.4em 0 0.4em auto;
	text-align:right;
	width:50%;
}
.desk > header .block a,
.desk > header .block b {
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #fff;
	display:block;
	padding:3px 0.5em 3px 0;
}
.dropcap:first-letter {
	float:left;
	font-size:3em;
	line-height:0.6em;
	padding-top:0.15em;
	padding-right:0.07em;
	vertical-align:text-top;
}
.embed_left {
	float:left;
	margin:0.4em 2% 0 0;
}
.embed_left > img {
	border-radius:1px;
	box-shadow:0 1px 3px 0 #b0c0f4;
}
.flush {
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
	text-align:justify;
}
.flush_unhyph {
	text-align:justify;
}
.form {
	border-spacing: 0;
}
.form td,
.form th {
	border-right:1px solid #ffffff;
	font-size:smaller;
	padding:2px 8px 2px 8px;
}
.form th {
	background-color:#eaf0fc;
	font-weight:normal;
	white-space:nowrap;
}
.form > tbody > tr:first-child > th {
	letter-spacing:0.2em;
}
.form > tbody > tr > th,
.form > tbody > tr > td {
	border-top:1px solid #ffffff;
	text-align:left;
}
.form > tbody > tr:hover {
	background-color:#f4f4f6;
}
.form [type="search"],
.form [type="text"],
.form select {
	width:100%;
}
.glow {
	box-shadow:0 0 3px 0 #aaafff;
}
.img {
	border:none;
	display:inline-block;
}
.img:focus,
.img:hover {
	background:#ffffff;
	border:none;
	box-shadow:0 0 6px 1px #66afff;
}
.img:active {
	border:none;
	box-shadow:none;
}
.img > img {
	display:block;
}
.index {
	background-color:#ffffff;
	border-radius:1px;
	box-shadow:0 1px 3px 0 #b0c0f4;
	display:table;
	font-size:smaller;
	margin-right:2px;
	max-width:none;
	padding:5px 8px;
}
.index > h1 {
	float:left;
	font-size:1.35em;
	line-height:1.1em;
	margin:0;
	padding:0;
}
.key,
.ref,
.refnext,
.refprev,
a.card,
button {
	border:1px solid #ffffff;
	border-radius:2px;
	box-shadow:0 0 3px 0 #aaafff;
	cursor:pointer;
	display:inline-block;
}
.key,
.ref,
.refnext,
.refprev,
button {
	background-color:#e8f8ffa8;
	font-size:0.95em;
	margin:1px;
	padding:0 4px 1px 4px;
}
.key:focus, .key:hover,
.ref:focus, .ref:hover,
.refnext:focus, .refnext:hover,
.refprev:focus, .refprev:hover,
a.card:focus, a.card:hover,
button:focus, button:hover {
	background-color:#e8f8ff;
	border:1px solid #ffffff;
	box-shadow:0 0 6px 1px #66afff;
}
.key:active,
.ref:active,
.refnext:active,
.refprev:active,
a.card:active,
button:active {
	background-color:#e8f8ff;
	border:1px solid #ffffff;
	box-shadow:none;
}
.ref::before {
	content:"▸";
	font-size:0.9em;
}
.refnext::after {
	content:"►";
}
.refprev::before {
	content:"◄";
}
.local {
	border:none;
	color:#bbbbcc;
	font-size:0.9rem;
	font-weight:normal;
	-moz-hyphens:none;
	-ms-hyphens:none;
	-webkit-hyphens:none;
	hyphens:none;
	letter-spacing:0;
	line-height:1em;
	text-indent: 0;
	float:left;
	margin-left:-1.5%;
	width:auto;
}
.local::before,
.tag {
	content:attr(href);
	position:absolute;
	right:100%;
}
.mapping {
	border-spacing:0;
	width:100%;
}
.mapping td {
	background-color:#f0f0ff;
}
.mapping td,
.mapping th {
	border-bottom:2px solid #fcfcfc;
	font-size:smaller;
	padding:4px 8px;
	vertical-align:top;
}
.mapping th {
	background-color:#eaf0fc;
	text-align:left;
	white-space:nowrap;
}
.mapping tr:last-child > th {
	font-size:1.2em;
}
.non-source {
	color:#000000;
}
.shadow {
	box-shadow:0 1px 3px 0 #b0c0f4;
}
.sheet {
	background-color:#ffffff;
	border-radius:1px;
	box-shadow:0 1px 3px 0 #b0c0f4;
	max-width:1111px;
	min-width:81%;
	padding:8% 12% 10% 12%;
	width:81%;
}
.sheet > h1:first-child {
	margin-top:0;
}
.sheetwide {
	width:100%;
}
.small-caps {
	font-variant:small-caps;
}
.source {
	color:#104595;
}
[type="search"],
[type="text"],
select {
	border-radius:2px;
	box-shadow:inset 0 0 2px 0 #aaafff;
}
[type="search"]:focus,
[type="search"]:hover,
[type="text"]:focus,
[type="text"]:hover,
select:focus,
select:hover {
	box-shadow:inset 0 0 2px 1px #66afff;
}
a {
	border-bottom:2px solid #98d8ff;
}
a:focus, a:hover {
	border-bottom:2px solid #104080;
}
a:active {
	border-bottom:2px dotted #00a000;
}
a.note {
	border:none;
	box-shadow:0 0 2px 1px #80bbff;
	padding:0.05em 0.1em 0 0.06em;
}
a.note:focus, a.note:hover {
	background-color:#98d8ff;
}
a.note::before,
small.note::before {
	color:#000000;
	content:attr(data-sign);
	line-height:0;
	top:2px;
	vertical-align:super;
}
a.note::before {
	font-size:0.8em;
}
body {
	background-color:#f8f8f8;
	box-sizing:border-box;
	font-family:"linbiolinum", "Linux Biolinum", "Linux Biolinum G", "Linux Biolinum O", sans-serif;
	font-size:1.3rem;
	height:100%;
	width:100%;
	z-index:0;
}
body > footer {
	line-height:2em;
}
body > footer .img {
	margin:0.4em 0.4em 0 0;
	vertical-align:text-top;
}
cite,
em,
i {
	font-style:italic;
}
code,
pre {
	font-family:"Consolas", "Source Code Pro", monospace;
	font-size:0.9em;
	overflow:auto;
}
dd {
	padding-left:4%;
}
dd + dt,
dt:first-child {
	margin-top:0.4em;
}
dt {
	font-weight:bold;
}
fieldset {
	border:1px solid #c0c0c0;
	margin-top:0.5em;
	padding:0.3em 0.6em 0.4em 0.6em;
}
figcaption {
	font-size:0.95em;
	margin-top:0.4em;
	width:100%;
}
figure {
	display:inline-block;
	margin-bottom:0.4em;
	margin-top:0.6em;
	max-width:100%;
}
figure img {
	object-fit:contain;
	width:100%;
}
form.card {
	max-width:1111px;
}
h1 {
	font-size:1.85em;
}
h2 {
	font-size:1.55em;
}
h3 {
	font-size:1.35em;
}
h4 {
	font-size:1.2em;
}
h5 {
	font-size:1.1em;
}
h6 {
	font-size:1.05em;
}
h1, h2, h3, h4, h5, h6 {
	break-after:avoid;
	page-break-after:avoid;
	font-weight:normal;
	margin:0.7em 0 0.5em 0;
}
img {
	max-width:100%;
}
legend {/* from github.com/necolas/normalize.css */
	display:table;
	max-width:100%;
	white-space:normal;
}
main {
	display:block;
	z-index:2;
}
p {
	margin:0.4em 0;
}
select {
	max-width:12em;
}
small {
	font-size:0.8em;
}
small.note {
	background-color:#ffffff;
	border-radius:1px;
	box-shadow:0 0 2px 0 #a0b0e0;
	float:right;
	font-size:0.98rem;
	margin-right:-53%;
	padding:3px 5px 4px 5px;
	width:51%;
}
small.note:target {
	z-index:1;
}
/*For notes within notes (like in Gesandtenberichte):*/
small.note small.note {
	background-color:#ffffff;
	border-radius:2px;
	display:none;
	margin-left:0.1em;
	padding:0.5em;
	position:absolute;
	width:11em;
}
small.note span.note:hover,
small.note span.note:hover > small.note {
	display:inline;
}
span.note {
	margin-left:3px;
}
span.note:hover,
span.note:hover > small.note {
	box-shadow:0 0 3px 2px #66afff;
	z-index:2;
}
/* sub and sup styles from github.com/necolas/normalize.css */
sub,
sup {
	font-size: 0.8em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
ul {
	list-style-type:none;
}
ul.list,
ol.list {
	padding-left:1.5em;
}
ul.list .local,
ol.list .local {
	margin-left:calc(-1.5% - 1.5em);
}
ul.list {list-style-type:disc;}
ul.list ul.list {list-style-type:circle;}
ul.list ul.list ul.list {list-style-type:square;}
@media screen and (max-width:1000px) {
	.cover {
		margin:auto;
	}
	.desk > footer {
		margin:1em 0 0 0;
		text-align:center;
	}
	.desk > header {
		float:none;
		overflow:visible;
		padding-right:0;
		padding-bottom:2em;
		position:relative;
		text-align:center;
		width:100%;
	}
	.desk > header hr {
		margin:0.4em auto;
	}
	.desk > main {
		margin-left:0;
	}
	.embed_left, .embed_right {
		display:block;
		float:none;
	}
	.sheet {
		width:84%;
		padding:5% 10% 8% 10%;
	}
	.sheetwide {
		margin:auto;
		width:100%;
	}
	small.note {
		margin-right:-40%;
		width:38%;
	}
}
@media print,
screen and (max-width:550px) {
	.card,
	.sheet {
		margin-left:0;
		margin-right:0;
		overflow:visible !important;
		width:100%;
	}
	small.note,
	small.note small.note {
		box-shadow:none;
		clear:both;
		display:block !important;
		float:none;
		margin-left:5%;
		margin-right:0%;
		position:relative !important;
		width:95%;
		z-index:1;
	}
}
@media print {
/*Partially taken from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css*/
	*, *::before, *::after {
		background-color:transparent !important;
		overflow:visible !important;
		box-shadow:none !important;
	}
	a.note::after,
	a[href^="javascript:"]::after {
		content:"" !important;
	}
	a:not(.local)::after {
		content:" (" attr(href) ")";
	}
	.desk > header,
	.form,
	body > footer,
	nav.prev_next {
		display:none;
	}
	caption, figcaption, p, small, tr {
		orphans:2;
		widows:2;
	}
	figure, h1, h2, h3, h4, h5, h6, img, tr {
		page-break-inside:avoid;
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after:avoid;
	}
	main {
		margin:0;
	}
	span.note {
		box-shadow:none;
	}
	table {
		border-top:2px solid #d4d4d4 !important;
	}
	table td,
	table th {
		border-bottom:2px solid #d4d4d4 !important;
	}
	thead {
		display: table-header-group;
	}
}