<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'de'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'de'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'de'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'de'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'de'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or 'KdiH'}}</title>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex, nofollow">
  <!--[if !HTML5]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
	   (even in intranet) & Chrome Frame
	   Remove this if you use the .htaccess -->
  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
	   http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
		j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
		device-width: Occupy full width of the screen in its current orientation
		initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
		user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- Font for Logo -->
  <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>

  <!-- All JavaScript at the bottom, except for Modernizr which enables
	   HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  response.files.insert(4,URL('static','css/mystyle.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  left_sidebar_enabled = globals().get('left_sidebar_enabled',True)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
	(left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}
  <!-- uncomment here to load jquery-ui
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  uncomment to load jquery-ui //-->

  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
  <style>
#keys{
	// position:absolute;
	display:block;
	border:1px solid #cccccc;
		border-radius: 4px;
	-webkit-box-shadow: 0px 8px 15px -6px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 8px 15px -6px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 8px 15px -6px rgba(50, 50, 50, 0.4);
	width:325px;
	// margin:-12px 0 0 0;
	display:none;
	padding:0 3px;
	background-color:#ECECE9;
	z-index:10000;
	top:106px;
	// left:123px;
}
#selectedSymbols{
	border:1px solid #cccccc;
		border-radius: 4px;
	// -webkit-box-shadow: 0px 8px 15px -6px rgba(50, 50, 50, 0.4);
	// -moz-box-shadow: 0px 8px 15px -6px rgba(50, 50, 50, 0.4);
	// box-shadow: 0px 8px 15px -6px rgba(50, 50, 50, 0.4);
	// background-color:#ECECE9;
	z-index:10000;
	// top:106px;
	padding: 10px;
	margin: 10px;
		left: 0px;

	width:100px;
	// display:none;
}
#keys_tbl tr td {
	padding:10px 0;
	font-size:18px;
	text-align:center;
}
#keys_tbl tr td a {
	padding:8px 7.75px;
}
#keys_tbl tr td a:hover {
	background-color:#0088cc;
	text-decoration:none;
	color:white;
	cursor:pointer;
}
#keys_tbl{
	margin:4px 0;
}
#showkeys{
	// position:relative;
	color:lightgrey;
	// font-weight:bold;
	// top:-3px;
	margin:0;
	// left:-73px;
}
#showkeys:hover{
	color:darkgrey;
	cursor:pointer;
}
.mce-btn {
	background-color:#f0faff;
	margin-left:3px !important;
}
.mce-btn button {
	background-color:#c6d9f1;
	color:#000000 !important;
	display: inline; /*necessary to overwrite rule in web2py_bootstrap.css*/
	line-height:1rem;
}
.mce-btn button:hover {
	background-color:#ffffff;
}
.mce-btn.mce-active button,
.mce-btn.mce-active:hover button,
.mce-btn.mce-active i,
.mce-btn.mce-active:hover i {
	background-color:#ffffff;
	color:#008800 !important;
}
.mce-charmap {
	border-collapse:separate !important;
	border-spacing:2px;
}
.mce-charmap td {
	background:#ddeeff;
}
.mce-charmap td div {
	font-family:Calibri, sans-serif !important;
	font-size:2rem !important;
	padding:0 12px 0 12px !important;
}
.mce-container {
	background:#f0f0f0 !important;
}
.mce-menu-item {
	background-color:#fcfcfc !important;
	color:#000000 !important;
}
.mce-menu-item:hover {
	background-color:#c6d9f1 !important;
}
.mce-open {
	border-left: 1px solid white !important;
}
.mce-text,
.mce-textbox,
.mce-title,
.mce-txt,
.mce-widget {
	color:#000000 !important;
	font-family:Calibri, sans-serif !important;
}
td.beispiel {
	font-size:1rem !important;
	line-height:1.3rem !important;
}
  </style>
  <script>
	jQuery(function( $ ){
	// Get a reference to the container.
	var container = $( "#keys" );

	// Bind the link to toggle the slide.
	$( "#showkeys" ).click(
	function( event ){
	// Prevent the default event.
	event.preventDefault();

	// Toggle the slide based on its current
	// visibility.
	if (container.is( ":visible" )){
	// Hide - slide up.
	container.css('margin-top','0px');
	container.slideUp( 300 );
	$('#showkeys').html('&#9662;&#229;&#269;&#188;');
	} else {
	// Show - slide down.
	container.css('margin-top','0px');
	container.slideDown( 300 );
	$('#showkeys').html('&#9652;&#229;&#269;&#188;');
	}
	}
	);
	});

	// insert character clicked on into search input field
	function insertAtCursor(fieldID, insertValue)
	{
	  var fieldObj = document.getElementById(fieldID);

	  if (document.selection)
	  { //IE support
		//fieldObj.focus();
		document.selection.createRange().text = insertValue;
	  }
	  else if (fieldObj.selectionStart || fieldObj.selectionStart=='0')
	  { //MOZILLA/NETSCAPE support
		endPos = fieldObj.selectionStart+insertValue.length;
		fieldObj.value = fieldObj.value.substring(0, fieldObj.selectionStart) + insertValue
					   + fieldObj.value.substring(fieldObj.selectionEnd, fieldObj.value.length);
		fieldObj.selectionStart = endPos
		fieldObj.selectionEnd = endPos
		//fieldObj.focus();
	  }
	  else
	  {
		fieldObj.value += insertValue;
	  }
	}

  </script>
</head>

<body>
  <a name="top" class="hidden"/>
  <!-- logo -->

	<div id="logo-box">
		<a href="{{=URL('default', 'index.html')}}" class="logo">
		Deutschsprachige illustrierte Handschriften des Mittelalters
		</a>
	</div>

  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse"> <!--style='background-image:url("{{=URL('static','images/gray_paper.png')}}");'-->
	<div class="flash">{{=response.flash or ''}}</div>
	<div class="navbar-inner">
	  <div class="container">
		{{is_mobile=request.user_agent().is_mobile}}
		<!-- the next tag is necessary for bootstrap menus, do not remove -->
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="{{='display:none;' if not is_mobile else ''}}">
		</button>
		{{=response.logo or ''}}
		<ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
		{{if response.menu:}}
		{{=MENU(response.menu, _id='admin',  _class='nav pull-right',li_class='dropdown',ul_class='dropdown-menu')}}
		{{pass}}
		<!--<div class="{{='nav-collapse' if is_mobile else 'nav'}}">
		  {{if response.menu:}}
		  {{=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
		  {{pass}}
		</div> /.nav-collapse -->
	  </div>
	</div>
  </div><!--/top navbar -->

  <div class="container_2">
	<!-- Masthead ================================================== -->
<!--	<header class="mastheader row" id="header">
	  {{if response.title:}}
		<div class="span12">
			<div class="page-header">
				<h1>
					{{=response.title}}
					<small>{{=response.subtitle or ''}}</small>
				</h1>
			</div>
		</div>
	{{pass}}
	</header>-->
	<!-- login -->
	<!--<div class="top-bar">
		<ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
	</div>-->
	<section id="main" class="main row">
		  {{if left_sidebar_enabled:}}
		  <div class="left-sidebar">
			{{block left_sidebar}}
		<div class="nav-left">
		  <div id="logo-break" class="highest"></div>
		  {{block general_menue}}
		  <!-- default_menu below appears unless deleted by jquery, as on default/stoffgruppen, default/untergruppen, default/eintrag pages -->
		  <div id="default_menu">
		<ul class="nav">
		  <li>
			<a href="{{=URL('listen', 'suche')}}" id='suchlink'>Suche</a>
		  </li>
		  <li>
			<div id="logo-break"></div>
			<a href="{{=URL('listen', 'stoffgruppen')}}">Stoffgruppen</a>
		  </li>
		  <li>
			<a href="{{=URL('listen', 'untergruppen')}}">Untergruppen</a>
		  </li>
		  <li>
			<a href="{{=URL('listen', 'handschriften')}}">Handschriften</a>
		  </li>
		  <li>
			<a href="{{=URL('listen', 'drucke')}}">Drucke</a>
		  </li>
		  {{include 'general_menue_items.html'}}
		</ul>
		  </div>
		  <!-- end #default_menu -->
		  {{end}}
		</div>
		  </div>
		  {{pass}}

		<!--<div class="{{=middle_columns}}">-->
		<div class="middle-col">
			{{block center}}
			{{include}}
			{{end}}
		</div>

		{{if right_sidebar_enabled:}}
		<div class="span3">
			{{block right_sidebar}}
			<h3>Right Sidebar</h3>
			<p></p>
			{{end}}
		</div>
		{{pass}}
	</section><!--/main-->
  </div> <!-- /container -->

	<!-- Footer ==================================================
	<div class="row">
		<footer class="footer" id="footer">
			<div class="footer-content">
				<div id="logo-break"></div>
					{{block footer}} <!-- this is default footer ->
					<div class="copyright">
						<a href="http://www.badw.de/">BAdW</a> &#169; {{=request.now.year}}</div>
					<div id="poweredBy" class="pull-right"></div>
					{{end}}
				</div>
			</div>
		</footer>
	</div> -->

	<div id='countdown_timer'></div>

  <!-- The javascript =============================================
	   (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/jquery.js')}}"></script>
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>

  <!-- Tablesorter.js controls for sortable tables -->

  <!--
  <script type="text/javascript" src="{{=URL('static','js/jquery-latest.js')}}"></script>
  -->
  <script type="text/javascript" src="{{=URL('static','js/jquery.tablesorter.js')}}"></script>

  <!-- DataTables.js controls for sortable, searchable tables -->
  <script type="text/javascript" src="{{=URL('static','js/jquery.dataTables.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/natural.js')}}"></script>

  <!-- Guriddo jqGrid
  -->
  <script type="text/javascript" src="{{=URL('static','js/Guriddo_jqGrid_JS_4.8.2/js/jquery.jqGrid.min.js')}}"></script>

  <!-- jquery.countdown.package-2.0.1 for timeout timer -->
  <link rel="stylesheet" type="text/css" href="{{=URL('static','js/jquery.countdown.package-2.0.1/jquery.countdown.css')}}">
  <script type="text/javascript" src="{{=URL('static','js/jquery.countdown.package-2.0.1/jquery.plugin.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/jquery.countdown.package-2.0.1/jquery.countdown.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/jquery.countdown.package-2.0.1/jquery.countdown-de.js')}}"></script>

  <!-- Search result highlighting -->
  <script type="text/javascript" src="{{=URL('static','js/jquery.highlight.js')}}"></script>


  <!--[if lt IE 7 ]>
	  <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
	  <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
	  <![endif]-->

  <!-- WYSIWYG input in textareas -->

  <script type="text/javascript" src="{{=URL('static','js/tinymce-4.7.4/tinymce.min.js')}}"></script>
  <script type="text/javascript">
	function getCrossref(sel) { //sel is a text selection
		if (!/^\d/.test(sel)) {
			alert('Verzeihung, der Querverweis muss mit einer Zahl beginnen, vgl. „1.“, „1.1.“, „1.1.1.“ oder „1.1.a.“.');
			return sel;
		};
		var space = (/ $/.test(sel)) ? ' ': '';
		sel = sel.replace(/ +$/, '');
		var nums = sel.replace(/\.+$/, '').split('.');
		switch (nums.length) {
			case 1: var cat = 'stoffgruppe'; break;
			case 2: var cat = 'untergruppe'; break;
			case 3: {
				if (/^[a-z]/.test(nums[2])) {
					var cat = 'druck';
				} else {
					var cat = 'handschrift';
				};
			}; break;
			default: alert('Ich erkenne leider keine verlinkbare Zählung (wie „1.“, „1.1.“, „1.1.1.“ oder „1.1.a.“).'); return sel;
		};
		var urltail = nums.join('/');
		var url = '/kdih/' + cat + '/' + urltail;
		var html = '<a href="' + url + '" target="_blank" rel="noopener noreferrer">' + sel + '</a>' + space;
		return html;
	};
	function getLitref(id_title) {
		if (!id_title) {return ''};
		var ident = id_title[0];
		var title = id_title[1];
		if (!ident || !title) {return ''};
		title = title.replace('<p>', '').replace('</p>', '').trim();
		return '<a href="/kdih/literatur/' + ident.toString() + '">' + title + '</a>';
	};
	tinymce.init({
		autoresize_max_height: 300,
		branding: false,
		browser_spellcheck : true,
		cleanup: false,
		charmap: [
			[0xdf, 'latin small letter sharp s'],
			[0xb7, 'middle dot'],
			[0xa9, 'copyright sign'],
			[0x2026, 'horizontal ellipsis'],
			[0x2013, 'en dash'],
			[0x2020, 'dagger'],
			[0xaa, 'feminine ordinal indicator'],
			[0xba, 'masculine ordinal indicator'],
			[0x2039, 'single left-pointing angle quotation mark'],
			[0x203a, 'single right-pointing angle quotation mark'],
			[0xab, 'left-pointing double angle quotation mark'],
			[0xbb, 'right-pointing double angle quotation mark'],
			[0xd7, 'multiplication sign'],
			[0xe6, 'latin small letter ae'],
			[0x153, 'latin small ligature oe'],
			[0xc7, 'latin capital letter c with cedilla'],
			[0xe7, 'latin small letter c with cedilla'],
			[0x10d, 'latin small letter c with caron'],
			[0x161, 'latin small letter s with caron'],
			[0x141, 'latin capital letter l with stroke'],
			[0x142, 'latin small letter l with stroke'],
			[0x301, 'combining acute accent'],
			[0x300, 'combining grave accent'],
			[0x303, 'combining tilde'],
			[0x308, 'combining diaeresis'],
			[0x304, 'combining macron'],
			[0x30a, 'combining ring above'],
			[0x30b, 'combining double acute accent'],
			[0x363, 'combining latin small letter a'],
			[0x364, 'combining latin small letter e'],
			[0x365, 'combining latin small letter i'],
			[0x366, 'combining latin small letter o'],
			[0x367, 'combining latin small letter u'],
			[0x36e, 'combining latin small letter v'],
			[0x391, 'greek capital letter alpha'],
			[0x392, 'greek capital letter beta'],
			[0x393, 'greek capital letter gamma'],
			[0x394, 'greek capital letter delta'],
			[0x395, 'greek capital letter epsilon'],
			[0x396, 'greek capital letter zeta'],
			[0x397, 'greek capital letter eta'],
			[0x398, 'greek capital letter theta'],
			[0x399, 'greek capital letter iota'],
			[0x39a, 'greek capital letter kappa'],
			[0x39b, 'greek capital letter lamda'],
			[0x39c, 'greek capital letter mu'],
			[0x39d, 'greek capital letter nu'],
			[0x39e, 'greek capital letter xi'],
			[0x39f, 'greek capital letter omicron'],
			[0x3a0, 'greek capital letter pi'],
			[0x3a1, 'greek capital letter rho'],
			[0x3a3, 'greek capital letter sigma'],
			[0x3a4, 'greek capital letter tau'],
			[0x3a5, 'greek capital letter upsilon'],
			[0x3a6, 'greek capital letter phi'],
			[0x3a7, 'greek capital letter chi'],
			[0x3a8, 'greek capital letter psi'],
			[0x3a9, 'greek capital letter omega'],
			[0x3b1, 'greek small letter alpha'],
			[0x3b2, 'greek small letter beta'],
			[0x3b3, 'greek small letter gamma'],
			[0x3b4, 'greek small letter delta'],
			[0x3b5, 'greek small letter epsilon'],
			[0x3b6, 'greek small letter zeta'],
			[0x3b7, 'greek small letter eta'],
			[0x3b8, 'greek small letter theta'],
			[0x3b9, 'greek small letter iota'],
			[0x3ba, 'greek small letter kappa'],
			[0x3bb, 'greek small letter lamda'],
			[0x3bc, 'greek small letter mu'],
			[0x3bd, 'greek small letter nu'],
			[0x3be, 'greek small letter xi'],
			[0x3bf, 'greek small letter omicron'],
			[0x3c0, 'greek small letter pi'],
			[0x3c1, 'greek small letter rho'],
			[0x3c2, 'greek small letter final sigma'],
			[0x3c3, 'greek small letter sigma'],
			[0x3c4, 'greek small letter tau'],
			[0x3c5, 'greek small letter upsilon'],
			[0x3c6, 'greek small letter phi'],
			[0x3c7, 'greek small letter chi'],
			[0x3c8, 'greek small letter psi'],
			[0x3c9, 'greek small letter omega'],
			[0x345, 'combining greek ypogegrammeni'],
			[0x315, 'combining comma above right'],
			[0x314, 'combining reversed comma above'],
			],
		content_css: '{{=URL(request.path, "static", "css/mceditor_content.css")}}',
		contextmenu:false,
		document_base_url: "/kdih/",
		editor_deselector : "NoMce",
		editor_selector : "Mce",
		entity_encoding: "raw",
		extended_valid_elements: 'a[href|target=_blank|rel]',
		force_br_newlines : false,
		force_p_newlines : false,
		forced_root_block : 'p',
		formats: {
			smallcaps: {inline : 'span', 'classes': 'small-caps'}
		},
		language: 'de',
		menubar : false,
		mode : "textareas",
		paste_enable_default_filters: true,
		paste_preprocess: function(plugin, args) {
			args.content = args.content.split("> <").join(">\u2005<");
		},
		paste_retain_style_properties: "none",
		paste_word_valid_elements: "a[href],li,ol,p,sub,sup,table,td,tr,ul",
		plugins: "autoresize advlist charmap code link lists paste table textcolor visualblocks",
		relative_urls: false,
		remove_script_host: true,
		resize: 'both',
		statusbar : true,
		style_formats: [
			{ title: 'Petit ein- / ausschalten', inline: 'small' },
			],
		tabfocus_elements: ":prev,:next",
		target_list: [ {title: 'Neuer Tab oder neues Fenster', value: '_blank', selected: true} ],
		textcolor_map: [  "000000", "Black", "8B0000", "Dark Red", "006400", "Dark Green" ],
		toolbar: "undo redo | removeformat | bold italic underline smallcaps subscript superscript forecolor | styleselect | bullist numlist | link unlink crossref litref | charmap | table | code",
		toolbar_items_size: 'small',
		tools: "inserttable",
		verify_html: false,
		visualblocks_default_state: true,
		init_instance_callback: function (ed) {
			// Additional shortcuts.
			ed.shortcuts.add("alt+x", "Querverweis: a X-reference", function() {
					ed.focus();
					var sel = tinyMCE.activeEditor.selection.getContent();
					var html = getCrossref(sel)
					tinyMCE.activeEditor.selection.setContent(html);
				})
		},
		setup: function(ed) {
			ed.addButton('smallcaps', {
				title: 'Kapitälchen',
				text: 'a⇄ᴀ',
				onclick: function(){
					ed.focus();
					ed.formatter.toggle( 'smallcaps' );
				}
			});
			ed.addButton('crossref', {
				title: 'Querverweis',
				text: '↗1.1.1.',
				onclick: function() {
					ed.focus();
					var sel = tinyMCE.activeEditor.selection.getContent();
					var html = getCrossref(sel);
					tinyMCE.activeEditor.selection.setContent(html);
				}
			});
			ed.addButton('litref', {
				title: 'Literaturverweis',
				text: '↗Titel',
				onclick: function() {
					$.getJSON(
						'/kdih/api/lit_refs',
						function(json) {
							ed.focus();
							win = ed.windowManager.open({
								title: 'Werkauswahl durch Anklicken',
								width: 700,
								height: 70,
								body: [{
									type: 'listbox',
									'values': json,
									onselect: function(e) {
										tinyMCE.activeEditor.selection.setContent(getLitref(this.value()));
										win.close();
									}
								}]
							});
						}
					)
				}
			});
		}
	})

	// highlight final 1 min on timer below
	function highlightLastandSave(periods) {
		if ($.countdown.periodsToSeconds(periods) === 60) {
			$(this).addClass('countdown_highlight');
			/*
			if (!! $('[name=submit1]')) {				// check if on an input page
				$('[name=submit1]').click();			// if old entry, autosave before session end
			} else if (!! $('[name=submit3]')) {
				$('[name=submit3]').click();			// if new entry, autosave before session end
			}
			*/
		}
		if ($.countdown.periodsToSeconds(periods) === 1) {
			if ( $('[name=submit4]').length > 0 ) { 	// Wenn ein Inputform Typs SG, UG, HS, DR

				// Eintrag als 'unvollendet' markieren:
				$('input[name=f_stoffgr_nr]').val(0);
				$('input[name=f_untergr_nr]').val(0);
				$('input[name=f_hs_position_nr]').val(0);

				// Autoaktualisieren vor dem Autoausloggen
				$('[name=submit4]').click();	// autospeichern vor dem sessionsende
				console.log('Autosaved');
			} else {
				$(location).attr('href', "/kdih/default/user/logout?_next=/kdih/default/index"); // sonst nur ausloggen
			}
		}
	}

	$(document).ready(function(){
	// toggle visibility of admins div
	   $("#default_admin").hide();
	   $("#toggler_adm").show();

	   $('#toggler_adm').toggle(function(){
		   $("#default_admin").slideDown(200);
		   $("#admin_bar").addClass( "schatten" )
		   $("#admin_bar").css( "background-color","#ECECE9" )
	   },function(){
		   $("#default_admin").slideUp(200);
		$("#admin_bar").removeClass( "schatten" )
		$("#admin_bar").css( "background-color","transparent" )
	   });

	// if user logged on, hide copyright footer
		if ( '{{=auth.is_logged_in()}}' == 'True' ) {
			//$('.copyright').css('display','none');

			// show countdown timer until session automatically ends
			var liftoffTime = {{=auth.settings.expiration}};
			$('#countdown_timer').css('display','block').countdown({
				until: liftoffTime, compact: true,
				description: '<span id="countdown_message">Vstl. Sessionsende:</span>',
				layout: '{desc} {hnn}{sep}{mnn}{sep}{snn}',
				onTick: highlightLastandSave
			});
		}

	// if .doc_info_list present, vary max-height by window height
		// start values
		var start_ww = $(window).height();
		console.log('start_ww:',start_ww);
		var start_doc_info_list_maxheight = start_ww - 360;
		console.log('start_doc_info_list_maxheight:',start_doc_info_list_maxheight);
		$('.doc_info_list').css('max-height', start_doc_info_list_maxheight + 'px');

		// values on change
		$(window).resize(function(){
			var new_ww = $(window).height();
			console.log('new_ww:',new_ww);
			var new_doc_info_list_maxheight = new_ww - 360;
			console.log('new_doc_info_list_maxheight:',new_doc_info_list_maxheight);
			$('.doc_info_list').css('max-height', new_doc_info_list_maxheight + 'px');
		});

	// if .submit_btns not there, color background of .submit
		if ( $('.submit').length > 0 ) {
			$('#countdown_timer').css('background-color','transparent').css('box-shadow','none');
		}

	// hide .flash message after a time
		if ($('.flash').is(':visible')) {
			setTimeout("$('.flash').hide()", 4000);
		}
	});
  </script>
  <script type="text/javascript" src="{{=URL('static','js/extraCharacters.js')}}"></script>

  <!--
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
	'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
  });</script>
  {{pass}}
  -->

  <!--
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
  -->
</body>
</html>
