@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff.
*/
.footnote {
	background-color:aqua;
}
.note {
	background-color:yellow;
}
.small-caps {
	font-variant:small-caps;
}
body {
	font-family:Calibri, sans-serif;
	font-size:1.2em;
	line-height:1.4em;
}
/* sub and sup styles mostly from github.com/necolas/normalize.css */
sub,
sup {
	font-size:0.8em;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sub {
	bottom:-0.25em;
}
sup {
	top:-0.5em;
}
td {
	min-width:10px;
	vertical-align:top;
}
