@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2017 ff.
*/
@namespace oxy "http://www.oxygenxml.com/extensions/author";
/* Overwrite builtin-CSS (see https://www.oxygenxml.com/doc/versions/18/ug-author/topics/builtin-css-selectors.html ) */
* {
	display:block;
	font-family:"Cambria Math", serif;
	white-space:-oxy-trim-when-ws-only;
}
*[element]:after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Element: " attr(element);
}
*[element-sonst]:after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Element sonst:" attr(element-sonst);
}
*[klassisch]:after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"klassisch: " attr(klassisch) "; gesichert: " attr(gesichert);
}
*[kurz]:after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"kurz: " attr(kurz);
}
*[kurzform]:after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Kurzform: " attr(kurzform);
}
*[name]:after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Name: " attr(name) "; ID: " attr(id);
}
*[nr]:not(bedeutung):after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Nr.: " attr(nr);
}
*[quelle]:before {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;
	content:"Quelle: " attr(quelle);
}
*[typ]:not(verweis):after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Typ: " attr(typ);
}
*[wortart]:after {
	clear:left;color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Genus: " attr(genus) "; Klasse(n): " attr(klasse-adjektiv) attr(klasse-substantiv) attr(klasse-verb) "; Wortart: " attr(wortart);
}
artikel,
sub-artikel,
verweis-artikel {
	background-color:#88aaff;
	padding:80px 10px 10px 10px;
}
artikel-verfasser {
	background-color:#ffffff;
	font-style:italic;
	padding:5px 10px 5px 10px;
}
artikel-verfasser:before {
	color:#707070;
	content:"Verfasst von: ";
	font-style:normal;
}
artikel-verfasser,
bedeutung-position,
etymologie-position,
grammatik-position {
	margin-top:30px;
}
artikelkopf {
	margin-top:50px;
}
artikelkopf:before {
	color:#707070;font-size:1.4em;
	content:"Artikelkopf: ";
}
bedeutung {
	margin-top:30px;
}
bedeutung:before {
	color:#3355cc;font-weight:bold;
	content:"Bedeutung " attr(nummer) ":";
}
bedeutung > bedeutung {
	margin-left:40px;
}
bedeutung klassifikation:before {
	color:#707070;
	content:"Interpretament-Klassifikation: ";
}
bedeutung interpretament:before {
	color:#707070;
	content:"Interpretament lateinisch: ";
}
bedeutung interpretament-deutsch:before {
	color:#707070;
	content:"Interpretament deutsch: ";
}
bedeutung interpretament-zusatz:before {
	color:#707070;
	content:"Interpretament-Zusatz: ";
}
bedeutung interpretament,
bedeutung interpretament-deutsch,
bedeutung interpretament-zusatz,
bedeutung klassifikation,
beleg beleg-text,
beleg autor,
beleg datierung,
beleg edition,
beleg stelle,
beleg werk,
gebrauch-variante gebrauch-besonderheit,
grammatik-variante grammatik,
lemma-variante,
metrik-variante metrik-besonderheit,
metrik-variante metrik,
schreibweisen-variante schreibweise-besonderheit,
schreibweisen-variante schreibweise,
struktur-variante struktur-besonderheit,
struktur-variante struktur,
verwechslung-variante verwechslung-besonderheit,
verwechslung-variante verwechslung,
verweis-zusatz,
zusatz {
	background-color:#ffffff;
	margin:5px 0 5px 0;
	padding:5px 10px 5px 10px;
	white-space:pre-wrap;
}
beleg {
	background-color:#cccccc;
	margin-top:10px;
}
beleg:before {
	color:#3355cc;
	content:"Beleg: (ID: " attr(id) ")";
}
beleg autor:before {
	color:#707070;
	content:"Autor: ";
}
beleg datierung:before {
	color:#707070;
	content:"Datierung: ";
}
beleg edition:before {
	color:#707070;
	content:"Edition: ";
}
beleg stelle:before {
	color:#707070;
	content:"Stelle: ";
}
beleg werk:before {
	color:#707070;
	content:"Werk: ";
}
beleg beleg-text:before {
	color:#707070;
	content:"Text: ";
}
beleg beleg-text * {
	border:1px solid #bbbbbb;
	display:inline;
	margin:0 1px 0 1px;
	padding:0 1px 0 1px;
}
beleg beleg-text gerade {
	background-color:#ddeeff;
	color:#666666;
}
beleg beleg-text gesperrt {
	font-size:1.2em;
	letter-spacing:0.2em; /*wird erst von Oxygen 17 verstanden*/
}
beleg beleg-text hervorhebung {
	text-decoration:underline;
}
beleg beleg-text lemma-beleg {
	font-size:1.2em;
	font-weight:bold;
}
beleg beleg-text lesart {
	color:#660066;
}
beleg beleg-text redaktion-ergaenzung {
	color:#666666;
}
beleg beleg-text sigle {
	color:#009900;
	font-weight:bold;
}
beleg,
gebrauch-variante, /*"gebrauch-varianten" vacat*/
grammatik-varianten,
lemma-varianten,
metrik-variante,
schreibweisen-variante /*"schreibweisen-varianten" vacat*/,
struktur-variante,
verwechslung-variante,
verweis-position > verweis {
	margin-left:40px;
}
beleg-quelle > *{
	border:1px solid #bbbbbb;
	display:block;
}
gebrauch-position,
grammatik-variante,
lemma-variante,
metrik-position,
schreibweisen-position,
struktur-position,
verwechslung-position,
verweis-position {
	margin-top:10px;
}
etymologie-position etymologie-angabe:before {
	color:#707070;
	content:"Etymologie: ";
}
etymologie-position > etymologie-angabe {
	background-color:#ffffff;
	font-size:1.2em;
	padding:5px 10px 5px 10px;
}
etymologie-besonderheit:before {
	color:#707070;
	content:"Etymologiebesonderheit: ";
}
etymologie:before {
	color:#707070;
	content:"Etymologie: ";
}
gebrauch-position:before {
	color:#707070;
	content:"Gebrauch: ";
}
gebrauch-besonderheit:before {
	color:#707070;
	content:"Gebrauchsbesonderheit: ";
}
grammatik-position > grammatik {
	background-color:#ffffff;
	font-size:1.2em;
	padding:5px 10px 5px 10px;
}
grammatik-position > grammatik:before {
	color:#707070;
	content:"Grammatik: ";
}
grammatik-variante grammatik:before {
	color:#707070;
	content:"Grammatikvariante: ";
}
hoch {
	display:inline;
	font-size:0.8em;
	line-height:0;
	vertical-align:super;
}
lemma {
	background-color:#ffffff;
	font-size:2em;
	padding:5px 10px 5px 10px;
}
lemma:before {
	color:#707070;
	content:"Lemma: ";
}
lemma-variante:before {
	color:#707070;
	content:"Lemmavariante: ";
}
metrik-position:before {
	color:#707070;
	content:"Metrik: ";
}
metrik-besonderheit:before {
	color:#707070;
	content:"Metrikbesonderheit: ";
}
metrik:before {
	color:#707070;
	content:"Metrik: ";
}
oxy|comment {
	border:2px solid #00aa00 !important;
	display:block;
}
oxy|comment:before {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:"Kommentar: ";
}
schreibweisen-position:before {
	color:#707070;
	content:"Schreibweisen: ";
}
schreibweise-besonderheit:before {
	color:#707070;
	content:"Schreibweisenbesonderheit: ";
}
schreibweise:before {
	color:#707070;
	content:"Schreibweise: ";
}
struktur-position:before {
	color:#707070;
	content:"Struktur: ";
}
struktur-besonderheit:before {
	color:#707070;
	content:"Strukturbesonderheit: ";
}
struktur:before {
	color:#707070;
	content:"Struktur: ";
}
verwechslung-position:before {
	color:#707070;
	content:"Verwechslung: ";
}
verwechslung-besonderheit:before {
	color:#707070;
	content:"Verwechslungbesonderheit: ";
}
verwechslung:before {
	color:#707070;
	content:"Verwechslung: ";
}
verweis-position:before {
	color:#707070;
	content:"Verweisposition: ";
}
sub-artikel lemma:before {
	color:#707070;
	content:"Sublemma: ";
}
sub-artikel lemma-variante:before {
	color:#707070;
	content:"Sublemmavariante: ";
}
verweis {
	background-color:#ffff80;
	content:"↗";
	display:inline;
	margin:5px 0 5px 0;
	white-space:pre-wrap;
}
verweis:after {
	color:#3355cc;font-size:0.8em;font-weight:bold;line-height:0;padding-left:4px;top:2px;vertical-align:super;
	content:attr(ziel);
}
verweis-lemma {
	background-color:#ffffff;
	font-size:1.6em;
	padding:5px 10px 5px 10px;
}
verweis-lemma:before {
	color:#707070;
	content:"Verweislemma: ";
}
verweis-position > verweis {
	display:block;
}
verweis-zusatz,
zusatz {
	background-color:#eeeeee;
	font-size:0.8em;
	margin:20px 0 20px 0;
}
verweis-zusatz:before,
zusatz:before {
	color:#707070;
	content:"Zusatz: ";
}
